<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado liebre</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
      <header>
    
           <div class="container__header">
            <span class="header__logo"><img src="/images/logo-mercado-liebre.svg" alt="logo de la página"></span>
            
            <div class="div__search"><input class="input__search" type="search" name="barra-de-busqueda"  placeholder="Buscar productos, marcas">
            <button class="button__search"><i class="fas fa-search"></i></button></div>
        
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p></div> 
        
            <nav class="container__ul">
        
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
        
                <ul> 
                    <li><a href="register">Creá tu cuenta</a><i class="far fa-id-card"></i></li>
                    <li><a href="login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
                </ul>
                
            </nav>
                
            <span class="burger-menu">
                <i class="fas fa-bars" ></i>
            </span>
                
        </header>
        
        
        
        <main>
        
            <div class="main__header">
                <img class="image__banner" src="/images/img-home-banner.jpg" alt="imagen-publicidad">
            </div>
        
            <h2 class="title__last--visit">Basado en tu última visita</h2>
        
            <section>
                
        
                <article class="article__products--card">
                    <div class="home__products--container">
                        <img src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                    </div>                   
                    <span class="main__truck"><i class="fas fa-truck"></i></span>
                    <p class="cart__price">$5.770</p>
                    <p class="cart__discount">40% OFF</p>
                    <h3>Cafetera Moulinex</h3>
                </article>
                
                <article class="article__products--card">
                    <div class="home__products--container">
                        <img src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
                    </div>                    
                    <span class="main__truck"><i class="fas fa-truck"></i></span>
                    <p class="cart__price">$230.000</p>
                    <p class="cart__discount">20% OFF</p>
                    <h3>MacBook Pro 2019<h3>
                </article>
                
                <article class="article__products--card">
                    <div class="home__products--container">
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
                    </div>                   
                    <span class="main__truck"><i class="fas fa-truck"></i></span>
                    <p class="cart__price">$70.500</p>
                    <p class="cart__discount">10% OFF</p>
                    <h3>Samsung Galaxy S10<h3>
                </article>
                
                <article class="article__products--card">
                    <div class="home__products--container">
                        <img src="/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                    </div>                    
                    <span class="main__truck"><i class="fas fa-truck"></i></span>
                    <p class="cart__price">$23.200</p>
                    <p class="cart__discount">5% OFF</p>
                    <h3>SmartTv Samsung 43"<h3>
                </article>
        
            </section>
        
            <h2 class="title__oferts">Sección de Ofertas</h2>
        
        
            <section>
        
                
                <article class="article__products--card">
                    <div class="home__products--container">
                        <img src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                    </div>  
                    <span class="main__truck"><i class="fas fa-truck"></i></span>
                    <p class="cart__price">$5.770</p>
                    <p class="cart__discount">40% OFF</p>
                    <h3>Cafetera Moulinex</h3>    
                </article>
        
                <article class="article__products--card">
                    <div class="home__products--container">
                        <img src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
                    </div>                   
                    <span class="main__truck"><i class="fas fa-truck"></i></span>
                    <p class="cart__price">$230.000</p>
                    <p class="cart__discount">20% OFF</p>
                    <h3>MacBook Pro 2019<h3>    
                </article>
        
                <article class="article__products--card">
                    <div class="home__products--container">
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
                    </div>                    
                    <span class="main__truck"><i class="fas fa-truck"></i></span>
                    <p class="cart__price">$70.500</p>
                    <p class="cart__discount">10% OFF</p>
                    <h3>Samsung Galaxy S10<h3>
                </article>
           
                <article class="article__products--card">
                    <div class="home__products--container">
                        <img src="/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                    </div>                    
                    <span class="main__truck"><i class="fas fa-truck"></i></span>
                    <p class="cart__price">$23.200</p>
                    <p class="cart__discount">5% OFF</p>
                    <h3>SmartTv Samsung 43"<h3>
                </article>
            </section>
        
        </main>
        
       <footer class="footer__container--global">
        <section class="section__footer">
                <article class="footer__card--container">
                <i class="fa-solid fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo </h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro! </p>
            </article>
            <article class="footer__card--container">
                <i class="fa-solid fa-gift"></i>
                <h4>Envío gratis desde $ 2.500 </h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </article>   
            <article class="footer__card--container">
                <i class="fa-solid fa-user-shield"></i>
                <h4>Seguridad, de principio a fin </h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@. </p>
            </article>
        </section>
        
        <span class="footer__copy">
            Copyright ©️ 1999-2020 MercadoLiebre S.R.L.
        </span>
    </footer>
</body>
</html>