<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado liebre</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="css/forms.css">
</head>
<body>
    <header>
    
           <div class="container__header">
            <span class="header__logo"><img src="/images/logo-mercado-liebre.svg" alt="logo de la página"></span>
            
            <form class="div__search"><input class="input__search" type="search" name="barra-de-busqueda"  placeholder="Buscar productos, marcas">
            <button class="button__search"><i class="fas fa-search"></i></button></form>
        
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p></div> 
        
            <nav class="container__ul">
        
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
        
                <ul> 
                    <li><a href="register">Creá tu cuenta</a><i class="far fa-id-card"></i></li>
                    <li><a href="login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
                </ul>
                
            </nav>
                
            <span class="burger-menu">
                <i class="fas fa-bars" ></i>
            </span>
                
    </header>

    <main register__container>
        <form method="post" class="register">
            <div class="register__div">
                  <input class="register__input" type="text" placeholder="Nombre y apellido">
            </div>
            <div class="register__div">
                  <input class="register__input" type="text" placeholder="Nombre de usuario">
            </div>
            <div class="register__div">
                  <input class="register__input" type="email" placeholder="E-mail">
            </div>
            <div class="register___birth">
            <label for="date">Fecha de nacimiento</label>
            <input class="register__input" type="date"  >
            </div>
            <div class="register__div">
                  <input class="register__input" type="text"placeholder="Domicilio">
            </div>
            <div class="register__div">
                  <h4>Perfil del usuario</h4>
                  <div class="register__type">
                        <div>
                              <input type="radio" class="comprador">
                              <label for="comprador">Comprador</label>
                        </div>
                        <div>
                              <input type="radio" class="vendedor">
                              <label for="vendedor">Vendedor</label>
                        </div>
                  </div>
            </div>
            <div class="register__div">
                  <h4>Intereses</h4>
                  <div class="register__check">
                        <input type="checkbox" class="electro">
                        <label for="electro">Electro</label>
                  </div>
                  <div class="register__check">
                        <input type="checkbox" class="moda">
                        <label for="moda">Moda</label>
                  </div>
                  <div class="register__check">
                        <input type="checkbox" class="home">
                        <label for="home">Hogar</label>
                  </div>
                  <div class="register__check">
                        <input type="checkbox" class="toy__store">
                        <label for="toy__store">Jugueteria</label>
                  </div>
                  <div class="register__check">
                        <input type="checkbox" class="healthy">
                        <label for="healthy">Vida sana</label>
                  </div>
            </div>
      </form>
    </main>

    <footer>
        
        <section >
    
            <article>
    
                <i class="fas fa-credit-card"></i>
                <h2>
                    Pagá con tarjeta o en efectivo
                </h2>
                <p>
                    Con mercado Liebre Cash, tnés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
                </p>
        
            </article>
    
            <article>
    
                <i class="fas fa-gift"></i>
                <h2>
                    Envio gratis desde $ 2.500
                </h2>
                <p>
                    Solo por estar registrad@ en Mercado Liebre tenés invios gratis en miles de productos. Es un beneficio de Mercado Puntos.
                </p>
    
            </article>
    
            <article>
    
                <i class="fas fa-user-shield"></i>
                <h2>
                    Seguridad, de principio a fin
                </h2>
                <p>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,por que estás siempre protegid@.
                </p>
    
            </article>
    
                <p>
                    Copyright c 1999-2020 MercadoLiebre S.R.L.
                </p>
        </section>
        
    </footer>